<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link 
  href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&di
  splay=swap" rel="stylesheet"> 
  <!-- Hoja de estilos -->
  <link rel="stylesheet" href="../styles.css">
  <!-- Favicon -->
   <link rel="icon" type="image/svg" href="../logos/favicon.svg"> 
  <title>Document</title>

</head>

<body>
  <section class="main-container">
    <div class="cards-container">
      <div class="product-card">
        <img src="https://images.pexels.com/photos/3026810/pexels-photo-3026810.jpeg">
        <div class="product-info">
          <div>
            <p>$25.000</p>
            <p>Postre de chocolate con explociones de cereza</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>

        </div>
        
      </div>

    

    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/11381485/pexels-photo-11381485.jpeg">
        <div class="product-info">
          <div>
            <p>$20.000</p>
            <p>Malteada de cafe con toppings al gusto</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>
  

    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/8230020/pexels-photo-8230020.jpeg">
        <div class="product-info">
          <div>
            <p>$45.000</p>
            <p>taza de chocolate con frutas al gusto</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    

   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/7646654/pexels-photo-7646654.jpeg">
        <div class="product-info">
          <div>
            <p>$53.000</p>
            <p>Cupcakes de guayaba</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/13215202/pexels-photo-13215202.jpeg">
        <div class="product-info">
          <div>
            <p>$68.000</p>
            <p>Torta de tres leches con dulce de mora</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/26844202/pexels-photo-26844202.jpeg">
        <div class="product-info">
          <div>
            <p>$20.000</p>
            <p>Fresas con crema Chantilly</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/15221027/pexels-photo-15221027.jpeg">
        <div class="product-info">
          <div>
            <p>$43.000</p>
            <p>Explosión de cereza</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/7474144/pexels-photo-7474144.jpeg">
        <div class="product-info">
          <div>
            <p>$100.000</p>
            <p>Macarrones de fresa</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/15212861/pexels-photo-15212861.jpeg">
        <div class="product-info">
          <div>
            <p>$120.000</p>
            <p>Macarrones cubiertos</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/15420377/pexels-photo-15420377.jpeg">
        <div class="product-info">
          <div>
            <p>$520.000</p>
            <p>Postre matrimonio</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/6578924/pexels-photo-6578924.jpeg">
        <div class="product-info">
          <div>
            <p>$20.000</p>
            <p>Chocolates de amistad</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/5845845/pexels-photo-5845845.jpeg">
        <div class="product-info">
          <div>
            <p>$66.000</p>
            <p>Comobo galletas de chocolate con leche</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
 
      <div class="product-card">
        <img src="https://images.pexels.com/photos/6896287/pexels-photo-6896287.jpeg">
        <div class="product-info">
          <div>
            <p>$20.000</p>
            <p>Donas cubiertas</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/5591670/pexels-photo-5591670.jpeg">
        <div class="product-info">
          <div>
            <p>$80.000</p>
            <p>Desayuno saludable</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/29645489/pexels-photo-29645489.jpeg">
        <div class="product-info">
          <div>
            <p>$22.000</p>
            <p>Pan rollito</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>

      <div class="product-card">
        <img src="https://images.pexels.com/photos/10304441/pexels-photo-10304441.jpeg">
        <div class="product-info">
          <div>
            <p>$21.000</p>
            <p>Churro tú</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
 
      <div class="product-card">
        <img src="https://images.pexels.com/photos/35799947/pexels-photo-35799947.jpeg">
        <div class="product-info">
          <div>
            <p>$26.000</p>
            <p>sandwich mañanero</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/19898239/pexels-photo-19898239.jpeg">
        <div class="product-info">
          <div>
            <p>$90.000</p>
            <p>Hamburguesa todos los poderes</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    </div>
  </section>

</body>

</html>