<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts -->
  <!-- Hoja de estilos -->
  <link rel="stylesheet" href="../styles.css">
  <!-- Favicon -->
  <title>Document</title>

</head>

<body>
  <section class="main-container">
    <div class="cards-container">
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>

        </div>
        
      </div>

    

    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>
  

    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    

   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
 
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
   
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>

      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
 
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    
      <div class="product-card">
        <img src="https://images.pexels.com/photos/28888511/pexels-photo-28888511.jpeg">
        <div class="product-info">
          <div>
            <p>$20000</p>
            <p>auyama</p>
          </div>
          <figure>
            <img src="../icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>

      </div>
    </div>
  </section>

</body>

</html>