<!DOCTYPE html>
<html lang="en">
    <head>

  
<meta charset="UTF-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<!-- Hoja de estilos --> 
<link rel="stylesheet" href="../styles.css"> 
<!-- Favicon --> 

<title>Document</title>

  </head>

  <body>
    <div class="lista-mo">
    <ul>
        <li>CATEGORIES</li> 
        <li>All</li>
        <li>Food</li>
        <li>Electronics</li>
        <li>Tools</li>
        <li>Other</li>
        <li>My orders</li>
        <li>My account</li>
        <li class="email">email@uniboyaca.edu.co</li>
        <li class="tinto">Sign out</li>
            </ul>
    </div>
  </body>
</html>